
html, body { 
 font-family: 'Arvo', serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.jumbotron{
    background-color: #3D5F64;
}
.jumbotron p {
    text-align: center;
    margin-top: 30px;
}
.title {
    background-color: #3D5F64;
    margin-bottom: 0;
    padding: 0 5px 0 5px;
    color: #ffffff;
    letter-spacing: -2px;
    line-height: 1;
    margin: 10 0 15px;
    text-shadow: 4px 3px 0 #1d9d74, 9px 8px 0 rgba(0, 0, 0, 0.15);
}
.title b {

    padding-left: 10px;
}
.title span {
    display: block;
    font-size: 55%;
    font-weight: 100;
    color: #C4C4C4;
    text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.15);

}
.title .fa-angellist {
    color: #444;
}
.profile {
    height: 100px;
    margin: 20px;
    vertical-align: middle;
}
.header-div span {
    display: inline;
    font-size: 20pt;
}

div[data-role="page"] {
    background-color: #3D5F64;
}
div[role="main"] {
    text-align: center;
}

.team, .detail {
    margin-top: 50px;
    text-align: center;
}

.footer {
    height: 300px;
    color: #444444;
    text-align: center;
}
.header{
    margin-bottom: 20px;
}

.header a {
    color: #444444;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #444444;
}
